<p id="notice"><%= notice %></p>

<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %> <%= candidate.last_name %> (<%= candidate.email %>)</td>
        <td>
          <% if @candidates.joins(:responses).find_by('responses.candidate_id' => candidate.id).blank? %>
            <%= link_to 'Start interview', questions_path(candidate_id: candidate.id) %>
          <% else %>
            Interview complete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
