<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<%= link_to edit_candidate_path(@candidate) do %>
  <span class="btn btn-sm btn-primary mb-3">
    <i class="fas fa-edit"></i> edit candidate details
  </span>
<% end %>

<br>
<%= link_to 'return to candidate list', candidates_path, class: "btn btn-sm btn-secondary" %>
