<p id="notice"><%= notice %></p>

<p>
  <strong>Response:</strong>
  <%= @response.response %>
</p>

<p>
  <strong>Score:</strong>
  <%= @response.score %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
