<p id="notice"><%= notice %></p>

<h1>Editing Questionnaire</h1>

<%# copied from app/views/questionnaires/_form.html.erb %>
<%= form_with(model: @questionnaire, local: true) do |form| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
        <% @questionnaire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <table>
    <thead>
      <tr>
        <th colspan="2">
          Questions already included
        </th>
      </tr>
    </thead>

    <tbody>
      <% if @questions_included.size > 0 %>
        <% @questions_included.each do |question| %>
        <tr>
        <td><%= check_box_tag('questions[]', question.id, true) %></td>
          <td><%= question.question %></td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td>(none)</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th colspan="2">
          Other questions available
        </th>
      </tr>
    </thead>

    <tbody>
      <% @other_questions.each do |question| %>
      <tr>
        <td><%= check_box_tag('questions[]', question.id) %></td>
        <td><%= question.question %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>


<%= link_to 'Show', @questionnaire %> |
<%= link_to 'Back', questionnaires_path %>
