<h3>Questionnaires</h3>

<table>
  <thead>
    <tr>
      <th>Description (# questions)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.description %> (<%= questionnaire.questions.size %>)</td>
        <td><%= link_to 'Show', questionnaire, class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire), class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Delete', questionnaire, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ create a new questionnaire', new_questionnaire_path, class: "btn btn-primary" %>
