<p>
  <strong>Description:</strong>
  <%= @questionnaire.description %>

  <table>
    <thead>
      <tr>
        <th colspan="2">
          Questions
        </th>
      </tr>
    </thead>

    <tbody>
      <% if @questions.size > 0 %>
        <% @questions.each_with_index do |question, index| %>
        <tr>
          <td><%= index+1 %>.</td>
          <td><%= question.question %></td>
        </tr>
        <% end %>
      <% else %>
        <tr>
          <td>There are no questions linked to this questionnaire.<br>Please add some questions.</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: "btn btn-primary mb-3" %>
<br>
<%= link_to 'return to questionnaires list', questionnaires_path, class: "btn btn-secondary" %>
