<% submit_button_desc = 'add candidates to job posting' %>

<%= form_with(model: @job_posting, url: set_candidates_path, method: :post, local: true) do %>
  <% if @job_posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job posting from being saved:</h2>

      <ul>
        <% @job_posting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <strong>Job posting description</strong>
  <div class="job-posting">
    <%= @job_posting.description %>
  </div>
  <div class="ml-1 mb-3">
    <span style="font-size: 80%;">
      <%= link_to @job_posting.posting_link do %>
        <i class="fas fa-external-link-alt"></i> external link
      <% end %>
    </span>
  </div>

  <div class="mb-2">
    <% if @current_candidates.size > 0 %>
      <strong>Candidates already included</strong>
      <% submit_button_desc = 'update candidates to job posting' %>
      <% @current_candidates.each do |candidate| %>
      <div class="job-posting-candidate-row">
        <%= check_box_tag('candidates[]', candidate.id, true) %>
        <%= format('%s %s (%s)', candidate.first_name, candidate.last_name, candidate.email) %>
      </div>
      <% end %>
    <% else %>
      <strong>No candidates selected.</strong>
    <% end %>
  </div>

  <div class="mb-1">
    <% if @other_candidates.size > 0 %>
      <strong>Candidates available</strong>
      <% @other_candidates.each do |candidate| %>
      <div class="job-posting-candidate-row">
        <%= check_box_tag('candidates[]', candidate.id) %>
        <%= format('%s %s (%s)', candidate.first_name, candidate.last_name, candidate.email) %>
      </div>
      <% end %>
    <% else %>
      <strong>No candidates to select.</strong>
    <% end %>
  </div>

  <div class="mb-3 mt-3">
    <%= button_tag type: 'submit', class: "btn btn-sm btn-primary" do %>
      <i class="fas fa-save"></i> <%= submit_button_desc %>
    <% end %>
  </div>

<% end %>

<%= link_to 'return to job postings list', job_postings_path, class: "btn btn-sm btn-secondary" %>
